.first-video {
    display: flex;
    justify-content: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cointainer{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a,  #663300, #7462ff, #f48e21, #23d5ab, #00ff00);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;

}
@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

}

.box-1 {
    height: 200px;
    width: 700px;
    margin: 10px;
    border-radius: 20px;
}
.h1 {
    font-size: 40px;
    background: -webkit-linear-gradient(rgb(0, 255, 34), rgb(255, 183, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
}

.box-3 {
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(35, 220, 237);
    background-color: black;
}

.row {
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.box-4 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(98, 249, 249), rgb(40, 73, 33) 100%);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px;
    height: 450px;
}

.btn {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(38, 238, 252), rgb(238, 19, 85) 100%);
    height: 40px;
    width: 250px;
    border-radius: 12px;
    margin-top: 30px;
}

.btn:hover {
    background-color: yellow;
    border-radius: 14px;
    padding: 3px;
}



.item {
    height: 450px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 20px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(98, 249, 249), rgb(40, 73, 33) 100%);

}

.item:hover {
    box-shadow: 5px 5px 10px yellowgreen;
    border-radius: 25px;

}

.btn-1 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(38, 238, 252), rgb(238, 19, 85) 100%);
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-top: 70px;
    border: none;
}

.btn-1:hover {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(38, 252, 252), rgb(251, 110, 223) 100%);
    background-color: palegreen;
    height: 40px;
    width: 300px;
}

.img {
    border-radius: 20px;
    box-shadow: 3px 2px 3px rgb(238, 19, 85);
}

.chef-sr-head {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(252, 106, 38), rgb(110, 152, 251) 100%);
    width: 100%;
    border-radius: 12px;
}

