body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
 
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 3px black;
  margin: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  text-align: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  /* background-color: #000; */
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.contact {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px black;  
  background: linear-gradient(to right,#1093ff,#06eeff);
  
}


.contact:hover {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px black;
  background: linear-gradient(to right,#8cb8b4,#07f4d5); 
}

.profile-img
{
  border-radius: 15px;
  box-shadow: 0px 0px 3px 2px black;
  margin-top: 15px;
  height: 60%;
  width:45%;
  
}
.profile-img:hover
{
  border-radius: 15px;
  box-shadow: 0px 0px 3px 3px tomato;
  margin-top: 15px;
  height: 65%;
  width:50%;
  transition: 1s;
}
