body 
{
  font-family:sans-serif; 
  background: -webkit-linear-gradient(to right, #155799, #159957);  
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
}


h1{
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding-top: 17px;
}

.main-container {
  background-color: #f6f6f6;
  width: 550px;
  height: 720px;
  margin-left: 500px;
  box-shadow:  2px 3px 7px rgb(48, 47, 47);
  border-radius: 20px;
}

.label {
  color: black;
  font-size: 18px;
  font-weight: 600;
  margin-left: 16px;

}

input[type=text], input[type=password]{
    width: 90%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
    margin-left: 20px;
  }

button {
    background: linear-gradient(to right,#1093ff,#06eeff);
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 90%;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    margin-bottom: 20px;
    font-weight: 600;
  }

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.headingsContainer{
    text-align: center;
}

.headingsContainer p{
    color: gray;
}
.mainContainer{
    padding: 29px;
}


.subcontainer{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subcontainer a{
    font-size: 16px;
    margin-bottom: 12px;
}

span.forgotpsd a {
    float: right;
    color: whitesmoke;
    padding-top: 16px;
  }

.forgotpsd a{
    color: rgb(74, 146, 235);
  }
  
.forgotpsd a:link{
    text-decoration: none;
  }

  .register{
    color: black;
    text-align: center;
    margin-top: 35px;
  }
  
  .register a{
    color: rgb(74, 146, 235);
  }
  
  .register a:link{
    text-decoration: none;
  }
  .submit{
    position: relative;
    top: 30px;
  }

  /* Media queries for the responsiveness of the page */
  @media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }
