.header {
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;

}

.header-img {
    padding-left: 50px;

}

.header-text {
    padding-left: 50px;

}

h2 {
    font-size: px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 50px;
}

.header-text b {
    font-size: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.header-text p {
    font-size: 20px;
    padding-left: 10px;
}

.header-btn button {
    background-color: rgb(56, 214, 143);
    border: none;
    width: 140px;
    border-radius: 14px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.header-btn button:hover {
    box-shadow: 0 2px 5px black;
    transition: 0.3s;
}

.header-img {
    padding-left: 50px;

}

.bikeshop-img {
    width: 600px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px grey;
    margin-top: 48px;
}

.cards-container {
    width: 1340px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    padding: 50px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px gray;
}

.special-offer-img {
    width: 555px;
    height: 230px;
}

.cards {
    display: flex;
    padding: 15px;
    padding-left: 100px;
}

.card-text {
    padding-left: 35px;
    cursor: pointer;
    font-size: 20px;
}

.card-img {
    width: 100px;
    padding-left: 20px;
    cursor: pointer;

}

.special-offer-img-container {
    margin: 25px;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 35px;
    box-shadow: 2px 3px 5px 5px #bfbfbf;

}

.special-offer-img {
    width: 700px;
    height: 330px;
    border: none;
}

.cycle-card-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.cycle-card {
    width: 350px;
    margin: 27px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px grey;
    cursor: pointer;
    transition: 0.3s;
}

.cycle-card:hover {
    transform: scale(1.2);
    z-index: 2;
}

.cycle-card-img-div {
    text-align: center;
}

.cycle-card-img {
    width: 260px;
    height: 220px;

}

.cycle-card-btn {
    text-align: center;

}

.cycle-card-btn button {
    border: none;
    border-radius: 5px;
    background-color: rgb(56, 214, 143);
    width: 95%;
    color: white;
    font-weight: 900;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 15px;
    height: 35px;

}

.cycle-card-btn button:hover {
    background-color: rgb(66, 35, 35);
    color: white;
}

.deal {
    background-color: #cc0c39;
    width: 110px;
    margin: 10px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.deal-day {
    color: #cc0c39;
    font-weight: bold;
    margin: 5px;
    margin-top: 15px;
    font-size: 18px;
}

.offer-deal {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.card-content {
    margin: 5px;
    padding: 2px;
    margin-left: 9px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}

.card-content p {
    margin: 2px;
    margin-top: 5px;
    color: #cc9966;
    ;
    font-weight: bolder;
}

.btn-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 10px;
}

.btn {
    margin: 20px auto;
    border: none;
    font-size: 20px;
    padding: 10px;
    position: relative;
    border-radius: 13px;
    background-color: rgb(56, 214, 143);
    cursor: pointer;
    font-weight: 700;
    width: 140px;
    color: white;
    margin-top: 15px;
}

.btn:hover {
    box-shadow: 0 2px 5px black;
    transition: 0.4s;
}


.Special-container {
    display: flex;
    justify-content: space-evenly;
}

.special-deal-text {
    font-size: 52px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px black;

}

.special-deal-content {
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    color: black;
    margin: 5px;
    margin-left: 15px;
    text-align: center;
}
.special-deal-content b {
    font-size: 25px;
    text-align: center;
}
.special-content-mrp {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 240px;
}
.offer-img-tag {
    margin: 5px;
}
.special-deal-img-content {
    display: flex;
    justify-content: space-between;
}
.offer-img {
    width: 100px;
}